<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="header">
    <div class="container-fluid header-container">
        <div class="header-logos">
            <a class="coding-factory" href="/"><img src="/icons/logo.png"></a>
        </div>
        <div class="container-fluid header">
            <div class="header-style">
                Πρόγραμμα eLearning Οικονομικού Πανεπιστημίου Αθηνών
            </div>
            <div class="sub-header-style">
                Ανάπτυξη Full Stack Web Εφαρμογών
            </div>
        </div>
    </div>
</div>
</body>
</html>