.button-back {
    background: #6b2b27 !important;
    color: #d3d3d3 !important;
    width: 10% !important;
    font-weight: bold !important;
    font-size: larger !important;
    min-width: 200px;
}

.button-back:hover{
    background: rgba(107, 43, 39, 0.63) !important;
}

.button-back:active {
    background: linear-gradient(to bottom, rgba(107, 43, 39, 0.48) 0%, rgba(107, 43, 39, 0.91) 100%) !important;
}

.button-back:focus-visible, .button-back:active {
    box-shadow: none !important;
}