<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teachers WebApp</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" src="/js/teachers-api.js"></script>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/teachers.css">
</head>
<body>
<div th:replace="/layout/header :: header"> </div>
<div class="main-content">
    <div class="container">
        <nav aria-label="breadcrumb">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="breadcrumb-link" th:href="@{/}">Αρχική</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Αναζήτηση Διδάσκοντα με χρήση API</li>
                </ol>
            </nav>
        </nav>
    </div>
    <div class="container">
        <div class="card card-style">
            <div class="card-body">
                <div class="teacher-actions">
                    <div>
                        <button type="button" class="btn btn-primary insert-btn" data-bs-toggle="modal" data-bs-target="#insertModal"><i class="bi bi-plus insert-icon"></i></button>
                    </div>
                    <div id="success-alert" class="alert alert-success" role="alert"></div>
                    <div>
                        <div class="input-group rounded">
                            <input id="search" type="search" class="form-control rounded" placeholder="Αναζήτηση" aria-label="Αναζήτηση" aria-describedby="search-addon" />
                        </div>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead class="table-light">
                        <tr>
                            <th> Κωδικός </th>
                            <th> Επώνυμο </th>
                            <th> Όνομα </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="search-results">
                        <tr class="tr-spinner">
                            <td colspan="5">
                                <div class="spinner-border text-secondary" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- Insert Modal -->
                <div class="modal fade" id="insertModal" tabindex="-1" aria-labelledby="insertModalModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="#" id="insertForm" class="insert-form">
                                    <div class="mb-4" id="input-id">
                                        <label for="id" class="form-label">Κωδικός</label>
                                        <input type="text" class="form-control" id="id">
                                        <div class='required-field'>Το πεδίο είναι υποχρεωτικό</div>
                                        <div class='already-exists'>Υπάρχει ήδη διδάσκων με αυτόν τον κωδικό</div>
                                    </div>
                                    <div class="mb-4" id="input-sname">
                                        <label for="sname" class="form-label">Επώνυμο</label>
                                        <input type="text" class="form-control" id="sname">
                                        <div class='required-field'>Το πεδίο είναι υποχρεωτικό</div>
                                    </div>
                                    <div class="mb-4" id="input-fname">
                                        <label for="fname" class="form-label">Όνομα</label>
                                        <input type="text" class="form-control" id="fname">
                                        <div class='required-field'>Το πεδίο είναι υποχρεωτικό</div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button id="modal-insert-close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Κλείσιμο</button>
                                <button id="modal-insert-submit" type="button" class="btn btn-primary">Εισαγωγή</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Update Modal -->
                <div class="update-form">
                    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Ενημέρωση Εγγραφής Διδάσκοντα</h5>
                                    <button type="button" class="btn-close modal-btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body update-modal-body">
                                    <div class="mb-3">
                                        <label for="update-id" class="col-form-label">Κωδικός</label>
                                        <input type="text" class="form-control readonly-id-field" id="update-id" name="id" readonly/>
                                    </div>
                                    <div class="mb-3">
                                        <label for="update-sname" class="col-form-label">Επώνυμο</label>
                                        <input type="text" class="form-control" id="update-sname" name="update-sname"/>
                                    </div>
                                    <div class="mb-3">
                                        <label for="update-fname" class="col-form-label">Όνομα</label>
                                        <input type="text" class="form-control" id="update-fname" name="update-fname"/>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button id="modal-update-close" class="btn btn-secondary" data-bs-dismiss="modal">Κλείσιμο</button>
                                    <button id="modal-update-submit" class="btn btn-primary submit-button">Ενημέρωση</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="/layout/footer :: footer"> </div>
</body>
</html>